.signup {
    .left {

        justify-content: space-around;

        &__header {
            font-size: 72px;
            font-weight: $bold;
            @include center;
        }

        &__details {
            font-size: 34px;
            font-weight: $regular;
            text-align: center;
            width: 80%;
        }
        

        &__footer {
            text-align: center;

            &__heading {
                font-size: 18px;
                font-weight: $regular;
    
                .settle {
                    font-weight: $medium;
                    text-transform: uppercase;
                }
            }
    
            &__para {
                font-size: 13px;
                margin-top: 0.4rem;
                margin-bottom: 0.2rem;
            }
    
            &__link {
                margin-left: auto;
                margin-right: auto;
                width: 70%;
            }
    
            &__button {
                width: 100%;
                text-transform: uppercase;
                color: white;
                background-color: black;
                height: 50px;
                &:hover {
                    background-color: #222;
                }
            }
        }
    }

    .right {
        text-align: center;

        &__heading {
            font-size: 36px;
            margin-top: 3rem;
            font-weight: $semibold;
        }

        &__para {
            margin-top: 2rem;
            font-size: 15px;
        }

        &__form {
            margin-top: 1rem;
            width: 100%;

            &-div {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }
        }
    }
}