@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "config", "signin";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background: $bg-gradient;
    height: 100vh;
    overflow: hidden;
}

.main {
    width: 75%;
    height: 650px;
    grid-template-columns: 1fr 2fr;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    margin-top: 10vh;
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.left {
    background-color: $red-main;
    color: white;
    flex-direction: column;
    justify-content: center;
    &__heading,
    &__para,
    &__button {
        margin-left: auto;
        margin-right: auto;
        font-weight: $regular;
    }
}

.right {
    background-color: $grey-bg;
    flex-direction: column;
    align-items: center;

    &__container {
        width: 50%;
        margin: 0 auto;
    }

    &__heading {
        font-size: 36px;
        text-transform: uppercase;
        font-weight: $semibold;
        color: $blue-main;
    }

    &__para {
        font-size: 13px;
        font-weight: $regular;
    }

    &__form-div {
        margin-bottom: 1rem;
    }

    &__form-tag {
        font-size: 13.5px;
        font-weight: $regular;
        margin-left: 1rem;
    }

    input {
        border: 1px solid $blue-main;
        width: 100%;
        height: 50px;
        border-radius: 50px;
        padding: 1rem;
        font-size: 15px;
    }

    &__form-button {
        input {
            background-color: $blue-main;
            color: white;
            font-size: 14px;
            margin-top: 1rem;

            &:hover {
                cursor: pointer;
                background-color: $blue-hover;
            }
        }
    }
}

button {
    border: none;
    border-radius: 50px;

    &:hover {
        cursor: pointer;
    }
}